.multi-list {
	&__container {
		margin-bottom: 1rem;
		width: 100%;
		font-size: 0.9em;
	}

	border: 1px solid #ccc;
	border-radius: 6px;
	background-color: $secondary-color;

	&__item {
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		flex-wrap: nowrap;
		padding: 0.2rem 0.5rem;
		border-bottom: 1px solid #ccc;

		&:last-child {
			border-bottom: none;
		}
	}
}
