$background-color: #f5f5f5;
$surface-color: #ffffff;
$active-element: #00acc1;

$primary-color: #212121;
$primary-color-hover: #616161;

$secondary-color: #e3e3e3;

$info-color: rgba(#43a0bb, 0.5);
$success-color: #558b2f;
$error-color: #bf360c;
