@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: $background-color;
	color: set-text-color($background-color);
	min-height: 100vh;
	overflow-x: hidden;
	position: relative;

	background: url(../images/bg.jpg), linear-gradient(transparent, transparent);
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.google_map {
	width: 300px;
	height: 450px;
}

.content-wrap {
	padding-bottom: 250px;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: $active-element;
}

.global-message {
	background-color: $info-color;
	color: set-text-color($info-color);
	margin: 0 1.5rem;
	padding: 1rem;
	border-radius: 12px;
	font-size: 1.1rem;
	text-align: center;
}

.edit-box {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}

.icon-container {
	display: flex;
	align-items: center;
	justify-content: center;

	&__icon {
		margin-right: 1rem;
	}
}

.badge {
	position: absolute;
	top: 2px;
	right: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	background-color: $important-color;
	padding: 0 4px;
	color: set-text-color(set-text-color($important-color));
	font-weight: 700;
	font-size: 12px;
	border-radius: 30px;
}

.dark-bg {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.5;
	background-color: #000;
}

.header {
	width: 100%;
	padding: 1rem 2rem;
	margin-bottom: 3rem;
	display: flex;

	&__logo {
		margin: 0 auto;
		height: 2.5rem;
		width: auto;
	}

	&.dashboard-mode {
		background-color: $surface-color;

		padding-left: 5rem;
	}

	& > .mobile-nav {
		width: 100%;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& > .nav-btn {
			position: relative;
			line-height: 1.6;
			opacity: 0.8;
			display: flex;
			padding-left: 3rem;
			cursor: pointer;

			& > .nav-btn__burger {
				position: absolute;
				left: 0.5rem;
				top: 0.7rem;
				width: 29px;
				height: 3px;
				border-radius: 10px;
				background-color: set-text-color($background-color);

				&::before {
					content: '';
					position: absolute;
					top: -8px;
					left: 0;
					width: 29px;
					height: 3px;
					border-radius: 10px;
					background-color: set-text-color($background-color);
				}

				&::after {
					content: '';
					position: absolute;
					bottom: -8px;
					left: 0;
					width: 29px;
					height: 3px;
					border-radius: 10px;
					background-color: set-text-color($background-color);
				}
			}
		}
	}

	& > .nav {
		z-index: 999;
		position: fixed;
		top: 0;
		right: 0;
		width: 70vw;
		height: 100%;
		padding: 2rem 0;
		transform: translate3d(100vw, 0, 0);
		transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
		overflow-y: auto;

		&.active {
			transform: translate3d(0vw, 0, 0);
		}

		background-color: $surface-color;
		height: 100vh;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding-left: 2rem;

		& > .nav__link {
			color: set-text-color($surface-color);
			width: fit-content;
			font-size: 1.6rem;

			&.active {
				color: $active-element;
			}

			@include sliding-floor;
		}
	}
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 2.5rem;
	text-align: center;
	background-color: $surface-color;
	box-shadow: 0 0 1.5rem 1.5rem $surface-color;
}

@include media-tablet {
	.google_map {
		width: auto;
		height: 350px;
	}

	.edit-box {
		flex-direction: row;
	}

	.header {
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0;

		&.dashboard-mode {
			padding-left: 5.5rem;
		}

		& > .mobile-nav > .nav-btn {
			display: none;
		}

		& > .nav {
			height: auto;
			width: max-content;
			transform: translate3d(0vw, 0, 0);
			flex-direction: row;
			align-items: center;
			background-color: inherit;
			position: static;
			gap: 0;
			padding: 0;
			white-space: nowrap;
			overflow-y: unset;

			& > .nav__link {
				text-transform: uppercase;
				font-size: 1rem;
				font-weight: 400;
				margin: 0 1.25rem;
			}
		}
	}
}

@include media-laptop {
	.header > .nav {
		gap: 1rem;
	}
	.google_map {
		width: 450px;
	}
}

@include media-laptop-lg {
	.header > .nav {
		gap: 2.5rem;

		& > .nav__link {
			font-size: 1.5rem;
		}
	}
}
