@include media-tablet {
	.header {
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& > .mobile-nav > .nav-btn {
			display: none;
		}

		& > .nav {
			height: auto;
			width: max-content;
			transform: translate3d(0vw, 0, 0);
			flex-direction: row;
			background-color: inherit;
			position: static;
			gap: 2.5rem;
			padding: 0;

			& > .nav__close {
				display: none;
			}

			& > .nav__link {
				text-transform: uppercase;
				font-size: 1rem;
				font-weight: 400;
				padding: 0 20px;
			}
		}
	}
}
