.center-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.center-item {
	margin: auto;
}

.word-break-all {
	white-space: pre;
}

.space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text-broken {
	font-size: 0.8em;
	opacity: 0.6;
}

.slide-floor {
	@include sliding-floor;
}

.icon-container {
	display: flex;
	align-items: center;

	&__icon {
		margin-right: 0.5rem;
	}
}

.unique-text {
	display: block;
	width: fit-content;
	padding: 0.5rem;
	margin: 1.5rem auto;
	font-size: 1.6rem;
	border-radius: 8px;
	background-color: $secondary-color;
	color: set-text-color($secondary-color);
}

.info-text {
	background-color: $info-color;
	color: set-text-color($info-color);
	padding: 4px 8px;
	border-radius: 12px;
}

.black {
	@include color($black-color);
}
.light-blue {
	@include color($light-blue-color);
}
.blue {
	@include color($blue-color);
}
.light-green {
	@include color($light-green-color);
}
.green {
	@include color($green-color);
}
.pink {
	@include color($pink-color);
}
.purple {
	@include color($purple-color);
}
.brown {
	@include color($brown-color);
}
.yellow {
	@include color($yellow-color);
}
.orange {
	@include color($orange-color);
}

.box-color {
	width: 1rem;
	height: 1rem;
	border-radius: 4px;
}

@include media-tablet {
	.d-md {
		display: none;
	}
}
