$current-time-color: $active-element;
$today-highlight-bg: #aaa;

$event-bg: $primary-color;
$event-border: none;
$event-outline: none;
$event-color: set-text-color($primary-color);
$event-border-radius: 8px;
$event-padding: 0;

$rbc-css-prefix: calendar;

@import '../../../../node_modules/react-big-calendar/lib/sass/styles.scss';

.work-hours {
	border-collapse: collapse;

	td,
	th {
		border: 1px solid grey;
		text-align: center;
		padding: 0.5rem;
	}
}

.rbc-event {
	cursor: default;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	&-label {
		text-align: center;
		min-width: 100%;
	}

	&-content {
		display: none;
	}
}

.rbc-calendar {
	margin: 0 auto;
	max-width: 100%;
}

.rbc-toolbar-label {
	font-size: 1.4rem;
}

.rbc-time-view {
	max-width: 100%;
	min-width: 900px;
}

.rbc-current-time-indicator {
	height: 2px;
}
