.card-container {
	display: flex;
	gap: 4rem;
	flex-direction: column;
	width: 100%;

	& > .card {
		margin: 0 auto;
	}
}

.card {
	width: 100%;
	background-color: $surface-color;
	box-shadow: 0 0 0.5rem 0.1rem grey;
	border-radius: 10px;

	& > &__title {
		background-color: #ccc;
		color: set-text-color(#ccc);
		padding: 1.5rem;
		font-size: 1.3rem;
		font-weight: 600;
		text-align: center;
	}

	& > &__body {
		font-size: 1.2rem;
		padding: 2rem 3rem;
	}
}

@include media-laptop {
	.card-container {
		flex-direction: row;

		&.vertical {
			flex-direction: column;
		}
	}
}
