.dashboard {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	overflow: hidden;
	width: 100vw;

	&__menu {
		overflow: auto;
		position: fixed;
		left: 4rem;
		top: 1rem;
		background-color: $surface-color;
		z-index: 5;
		border-radius: 0 10px 10px;
		display: none;
		@include box-shadow;

		&.open {
			display: block;
		}
	}

	&__nav {
		overflow-y: auto;
		background-color: $primary-color;
		color: set-text-color($primary-color);
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		border-radius: 0;
		border-right: 1px solid #000;
	}

	&__btn {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		font-size: 12px;
		width: 100%;
		padding: 0.7rem 2px;
		text-align: center;
		color: set-text-color($primary-color);
		opacity: 0.5;

		&:hover,
		&.active {
			opacity: 1;
		}

		&__icon {
			font-size: 1.3rem;
			margin-bottom: -8px;
			color: set-text-color($primary-color);
		}

		&-open {
			text-transform: uppercase;
			cursor: pointer;

			& > &__icon {
				margin-bottom: -1rem;
			}
		}
	}

	& > &__body {
		background-color: $background-color;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid #ccc;
		margin-top: 4.5rem;
		padding: 1rem 1rem 0 1rem;
		overflow-y: auto;
	}
}

@include media-tablet {
	.dashboard {
		&__menu {
			display: flex;
			align-items: flex-start;
			position: static;
			width: 220px;
			box-shadow: none;
			margin-top: 4.5rem;
			border-top: 1px solid #ccc;
			border-right: 1px solid #ccc;
			border-radius: 0;
		}

		& > &__body {
			padding-left: 1.5rem;
		}

		&__btn {
			padding: 0.9rem 4px;

			&__icon {
				font-size: 1.4rem;
			}

			&-open {
				display: none;
			}
		}
	}
}

@include media-laptop-lg {
	.dashboard {
		&__btn {
			padding: 1.2rem 8px;

			&__icon {
				font-size: 1.8rem;
			}
		}
	}
}
