.form-group {
	display: flex;
	gap: 1rem;
	width: 100%;
}

.form-control {
	position: relative;
	margin: 2rem 0;
	width: 100%;

	&__input {
		&__border {
			position: absolute;
			bottom: -1px;
			left: 0;
			right: 0;
			height: 4px;
			background-color: $active-element;
			z-index: 3;
			transform: scaleX(0);
			transition: transform 0.15s ease-in-out;
		}

		&:focus + &__border,
		&__container:focus::after {
			transform: scaleX(1);
		}

		position: relative;
		width: 100%;
		border: none;
		font-size: 1rem;
		padding: 5px 0;
		outline: 0;
		border-bottom: 2px solid #ccc;
		background-color: transparent;
		z-index: 2;
		display: block;

		&:required:invalid {
			box-shadow: none;
			border-color: $error-color;
		}

		&:required:valid {
			border-color: $success-color;
		}
	}

	&__checkbox-label {
		display: flex;
		gap: 1rem;
		align-items: center;
		position: relative;
		cursor: pointer;
		font-size: 1.2rem;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		& > .form-control__checkbox {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
		}

		& > .form-control__checkbox-checkmark {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 25px;
			width: 25px;
			background-color: #eee;

			&:after {
				content: '';
				position: absolute;
				display: none;
			}
		}

		&:hover .form-control__checkbox ~ .form-control__checkbox-checkmark {
			background-color: #ccc;
		}

		&
			> .form-control__checkbox:checked
			~ .form-control__checkbox-checkmark {
			background-color: $active-element;
		}

		&
			> .form-control__checkbox:checked
			~ .form-control__checkbox-checkmark:after {
			display: block;
		}

		& > .form-control__checkbox-checkmark:after {
			width: 5px;
			height: 10px;
			border: solid white;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}

	@mixin active-label {
		transform: translateY(-1rem) scale(0.7);
	}

	& > &__label {
		cursor: text;
		color: inherit;
		font-size: 1.1rem;
		position: absolute;
		transform-origin: top left;
		transform: translateY(0.3rem) scale(1);
		transition: all 0.1s ease-in-out;
		z-index: 1;
		opacity: 0.5;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&:focus-within > &__label,
	&__label.active {
		@include active-label;
	}
}

.upload-image {
	cursor: default;
	flex-grow: 1;
	border: 2px dotted grey;
	padding: 0.5rem 1rem;
	text-align: center;
	background-color: $secondary-color;
	color: set-text-color($secondary-color);
	border-radius: 6px;
	letter-spacing: 0.5px;

	&:hover,
	&.darg-over {
		$color: darken($secondary-color, 5%);
		background-color: $color;
		color: set-text-color($color);
		border-color: #000;
	}

	&__images {
		margin-top: 1rem;

		display: flex;
		flex-direction: column;
	}

	&__image-container {
		padding: 1rem 0;
		display: flex;
		gap: 2rem;
	}

	&__img {
		border: 1px solid #ccc;
	}
}
