@mixin menu {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.select-menu {
	@include menu;

	& > &__item {
		padding: 1rem;
		cursor: pointer;
		width: 100%;
		font-size: 1.2em;
		color: set-text-color($surface-color);

		&:hover,
		&.active {
			background-color: $shadow-color;
		}

		& > .icon {
			margin-right: 0.5rem;
		}
	}
}

.tools-menu {
	@include menu;
	gap: 2.5rem;

	&__item {
		width: 100%;
		border-bottom: 1px solid #ccc !important;

		& > &__title {
			font-weight: 500;
			font-size: 0.8em;
			text-transform: uppercase;
			opacity: 0.8;
			padding-left: 0.5rem;
			margin-bottom: 0.8rem;
		}
	}
}

.collapse {
	&__header {
		display: flex;
		align-items: center;
		width: 100%;
		background-color: $secondary-color;
		color: set-text-color($secondary-color);
		cursor: pointer;
		border: 1px solid #ccc;
		margin-top: -1px;
		padding: 1rem 2rem;

		&:hover {
			$color: darken($secondary-color, 3%);

			background-color: $color;
			color: set-text-color($color);
		}
	}

	&__arrow {
		margin-left: auto;
		transition: transform 0.3s ease-in-out;

		&.active {
			transform: rotate(-180deg);
		}
	}

	&__content {
		margin-left: 0.5rem;
		transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1);

		& > * {
			transition-duration: 0.3s;
		}
	}

	&__item {
		padding: 1rem 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid #ccc;
		border-bottom: none;
		margin-top: -1px;

		&:last-of-type {
			border-bottom: 1px solid #ccc;
		}
	}
}
