.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 500px;
	right: auto;
	background-color: $surface-color;
	border-radius: 8px;
	display: none;

	& > &__header {
		border-radius: 8px 8px 0 0;
		padding: 1rem;
		background-color: darken($surface-color, 15%);
		color: set-text-color(darken($surface-color, 15%));
		font-size: 1.4rem;
	}

	& > &__body {
		padding: 2rem;
	}

	&.show {
		display: block;
		opacity: 1;
		z-index: 999;
		animation: show 0.2s;
		transform: scale(1) translate(-50%, -50%);
	}
}

@keyframes show {
	from {
		z-index: -1;
		transform: scale(0) translate(0, -10000px);
		opacity: 0;
	}
	to {
		z-index: 999;
		transform: scale(1) translate(-50%, -50%);
		opacity: 1;
	}
}
