.nav-menu {
	display: flex;
	flex-direction: column;
	background-color: $surface-color;
	width: 100%;

	& > &__item {
		padding: 1rem;
		cursor: pointer;
		width: 100%;
		font-size: 1.2em;
		color: set-text-color($surface-color);

		&:hover,
		&.active {
			background-color: $shadow-color;
		}

		& > .icon {
			margin-right: 0.5rem;
		}
	}
}
