.page-hero {
	position: relative;
	padding: 0 50px;
	word-wrap: break-word;
	font-size: 18px;
	font-weight: 400;

	&__body {
		width: 100%;
		min-height: 100vh;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		gap: 2rem;
		flex-direction: column;
		margin-bottom: 3rem;
	}

	&__title {
		margin-bottom: 50px;
		font-size: 2em;
		line-height: 1.5em;
		text-align: justify;
	}

	&__content {
		max-width: 100%;
	}

	&__text {
		opacity: 0.8;
		text-align: justify;
		font-size: 1.3rem;
	}

	&__img-container {
		order: 2;
		margin-bottom: 1rem;
		max-width: 80%;
	}

	&__img {
		z-index: -1;
		display: block;
		margin: 0 auto;
		height: auto;
		width: 100%;
	}
}

@include media-tablet {
	.page-hero {
		&__title {
			font-size: 2.5em;
		}

		&__body {
			flex-direction: row;

			&.vertical {
				justify-content: baseline;
				flex-direction: column;
			}
		}

		&__content {
			max-width: 450px;
		}

		&__img-container {
			order: initial;
			margin: 0;
			max-width: 35%;
		}

		&__img {
			margin: 0;
		}
	}
}

@include media-laptop-lg {
	.page-hero {
		&__title {
			font-size: 3em;
		}

		&__content {
			max-width: 500px;
		}
	}
}
