.page-hero {
	position: relative;
	padding: 0 50px;
	word-wrap: break-word;
	font-size: 18px;
	font-weight: 400;

	.made-by {
		margin-left: auto;
		width: fit-content;
	}

	h1 {
		margin-bottom: 50px;
		font-size: 3rem;
		line-height: 1.5em;
		text-align: justify;
	}

	p {
		opacity: 0.8;
		text-align: justify;
	}

	&__img-container {
		margin-bottom: 1rem;
	}

	&__img {
		z-index: -1;
		display: block;
		margin: 0 auto;
		height: auto;
		max-width: 80%;
		width: auto;
	}
}

@include media-tablet {
	.page-hero {
		padding: 50px 50px;

		&__body {
			width: 100%;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}

		&__content {
			max-width: 300px;
		}

		&__img-container {
			order: 2;
			margin: 0;
		}

		&__img {
			order: 2;
			width: 400px;
			max-width: 40%;
			margin: 0;
		}
	}
}

@include media-laptop-lg {
	.page-hero {
		&__content {
			max-width: 500px;
		}

		&__img {
			max-width: 100%;
		}
	}
}
