.table {
	border-collapse: collapse;
	border-spacing: 0;
	min-width: 100%;

	thead {
		background-color: $primary-color;
		color: set-text-color($primary-color);
	}

	tr {
		border-bottom: 1px solid $border-color;
		border-top: 1px solid $border-color;

		&:last-child {
			border-bottom: none;
		}
	}

	td,
	th {
		text-align: center;

		padding: 8px;
	}
}
