.table {
	border-collapse: collapse;
	border-spacing: 0;
	min-width: 100%;

	thead {
		background-color: $primary-color;
		color: set-text-color($primary-color);
	}

	td,
	th {
		text-align: center;
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
		padding: 8px;
	}
}
