.collapse {
	&__header {
		display: flex;
		align-items: center;
		width: 100%;
		background-color: $secondary-color;
		color: set-text-color($secondary-color);
		cursor: pointer;
		border: 1px solid #ccc;
		margin-top: -1px;
		padding: 1rem 2rem;

		&:hover {
			$color: darken($secondary-color, 3%);

			background-color: $color;
			color: set-text-color($color);
		}
	}

	&__arrow {
		margin-left: auto;
		transition: transform 0.3s ease-in-out;

		&.active {
			transform: rotate(-180deg);
		}
	}

	&__content {
		margin-left: 0.5rem;
		transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1);

		& > * {
			transition-duration: 0.3s;
		}
	}

	&__item {
		padding: 1rem 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid #ccc;
		border-bottom: none;
		margin-top: -1px;

		&:last-of-type {
			border-bottom: 1px solid #ccc;
		}
	}
}
